<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.kram.sandlib">

    <permission
        android:name="ru.kram.sandlib.permission.RANDOM_MESSENGER_SERVICE_START"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="sandlib"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" >
        <service
            android:name="ru.kram.sandlib.java.service.RandomService"
            android:exported="true"
            android:process=":randomService" />
        <service
            android:name="ru.kram.sandlib.java.service.RandomMessengerService"
            android:exported="true"
            android:enabled="true"
            android:permission="ru.kram.sandlib.permission.RANDOM_MESSENGER_SERVICE_START"
            android:process=":randomMessengerService" />
    </application>
</manifest>